<footer class="pt-5 pb-5 footer py-5 mt-5 container-fuild row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<footer>
			<div class="container-fluid row">
				<div class="col-1"></div>
				<div class="footer row col-10">
					<div class="col-sm-2 footer-section">
						<div class="footer-title">Team</div>
						<div class="logo-container">
							<a class="d-flex align-items-center flex-column" href="https://2024.igem.wiki/ustc-software" target="_blank">
								<img id="footer-logo" src="https://static.igem.wiki/teams/4659/wiki/team-logo1.png" width="125px" height="125px" alt="USTC-Software">
								<div class="fs-5 team-footer footer-list">USTC-Software</div>
							</a>
						</div>
					</div>
					<div class="col-sm-5 footer-section">
						<div class="footer-title">Sponsors</div>
						<a class="footer-list d-block" href="https://www.ustcif.org.cn/default.php" target="_blank">Initiative Foundation</a>
						<a class="footer-list d-block" href="https://biox.ustc.edu.cn/" target="_blank">School of Life Science, USTC</a>
						<a class="footer-list d-block" href="https://www.teach.ustc.edu.cn/" target="_blank">Academic Affairs Office</a>
					</div>
					<div class="col-sm-5 footer-section">
						<div class="footer-title">Contact us</div>
						<div class="footer-list"><i class="bi bi-envelope"></i>&nbsp;Mail:&nbsp;USTC_Software2024@163.com</div>
						<div class="footer-list"><i class="bi bi-git"></i>&nbsp;<a href="https://gitlab.igem.org/2024/ustc-software">Gitlab</a></div>
						<div class="footer-list"><i class="bi bi-geo-alt-fill"></i>&nbsp;Address:University of Science and Technology of China, No.96, JinZhai Road Baohe District, Hefei, Anhui, 230026, P.R.China</div>
					</div>
				</div>
				<div class="col-1"></div>
			</div>

			<div class="footer-required mb-3">
				<div class="col-sm d-flex justify-content-center p-1"><small>Icon made by story set from  <a href="https://www.flaticon.com/">www.flaticon.com</a>.</small></div>
				<div class="col-sm d-flex justify-content-center p-1"><small>© 2024 - Content on this site is licensed under a <a class="subfoot" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.</small></div>
				<div class="col-sm d-flex justify-content-center p-1"><small>The repository used to create this website is available at <a href="https://gitlab.igem.org/2024/ustc-software">gitlab.igem.org/2024/ustc-software</a>.</small></div>
				<div class="col-sm d-flex justify-content-center p-1"><small>University of Science and Technology of China, No.96, JinZhai Road Baohe District, Hefei, Anhui, 230026, P.R.China</small></div>
			</div>

			<div class="wiki-tools row">
				<div class="col-sm-2"></div>
				<div class="col-sm-8 d-flex justify-content-around">
					<a href="https://tools.igem.org/wiki/2024/ustc-software" target="_blank" class="fs-5">Access Wiki Tools</a>
					<a href="https://gitlab.igem.org/2024/ustc-software" target="_blank" class="fs-5">View Source Code</a>
				</div>
				<div class="col-sm-2"></div>
			</div>
		</footer>
	
	</div>
	<div class="col-sm-1"></div>
</footer>