<!-- 这里是各个分版块 -->
<div class="collapse navbar-collapse justify-content-end">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:forum_index'%}">Forum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:course_resources'%}">Course Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:teaching'%}">Teaching</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:development_log'%}">Development Log</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:share' %}">Share sth.</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:to_upload' %}">upload</a>
        </li>
    </ul>
</div>