<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Ask online Form">
    <meta name="language" content="English">
    <title>Forum</title>

    <link rel="stylesheet" href="../static/css/responsive.css" type="text/css">
    <link rel="stylesheet" href="../static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css"  type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="header-descriptin329">
        <div class="container">
            <h3>All User Posts</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="#">Home</a></li>
                <li class="active">All User Posts</li>
            </ol>
        </div>
    </section>
    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9 user-profile328903">
                    <!-- 示例用户信息 -->
                    <div class="about-user2039">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="user-image2939303"> 
                                    <img src="../static/imgs/images.png" alt="Image"> 
                                </div>
                            </div>
                            <div class="col-md-11">
                                <div class="user-description3903"> 
                                    <a href="user_question.html">用户名</a>
                                    <span class="badge229">
                                        <a href="#">用户等级</a>
                                    </span>
                                    <p>这里是用户发布的主要内容。</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 可以添加更多用户信息块 -->
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/editor.js"></script>
    <script>
        $(document).ready(function() {
            $("#txtEditor").Editor();
        });
    </script>
</body>
</html>